/localsettings
dist/*
target/
/null
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
*.class
*.log
target/*
*/target/*
/.idea
/.bsp
project/project
project/target/
project/.bsp
*.sbt.swp
*.iml
*.ipr
*.iws
.idea
.tasty
.DS_Store
.scala_dependencies
.cache-main
.bloop
.bsp
project/metals.sbt
.metals
.vscode
